.DS_Store
.idea
.vagrant
Thumbs.db
composer.lock
composer.phar
config.php
core
coverage
node_modules
npm-debug.log
php-error.log
server
storage
studio.json
vendor
public/xenforo_*
public/xfscripts*
public/formatter.php
public/assets/avatars*
public/assets/files*
